.cta {
    min-height: auto;
    padding: 72px 0;
    background: #eee;
    h3 {
        font-size: 3rem;
    }
    .getintouch {
        color: black !important;
        border: 1px solid black !important;
        font-size: 1.2rem;
    }
}